NEXTAUTH_SECRET=""

GITHUB_ID=
GITHUB_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.oxoqhqb.mongodb.net/development"


NEXT_PUBLIC_CLOUDINARY_BUCKET=
NEXT_PUBLIC_CLOUDINRY_URL='https://api.cloudinary.com/v1_1/<NEXT_PUBLIC_CLOUDINARY_BUCKET>/image'
NEXT_PUBLIC_CLOUDINARY_PRESET=kyr3uei1

test
